{% extends 'base.html' %}

{% block content %}
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Advertisement Maker, Generating creative ads</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Admaker uses the product name and emotion of the advertisement to generate a story for advertisement in the theme of given emotion. Please login to continue exploring the model</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>  
    </div>
  </div>
  
{% endblock %}